version: 2
updates:
  - package-ecosystem: uv
    directory: /
    versioning-strategy: auto
    schedule:
      interval: weekly
    groups:
      patch-updates:
        update-types:
          - "patch"
    patterns:
      - "*"
