[flake8]
max-line-length = 88
extend-ignore =
    # line break before/after binary operator; to unify with black
    W503,
    # whitespace before ':'; to unify with black
    E203,
    # line too long
    E501
exclude =
    .git,
    __pycache__,
    .venv,
    build,
    dist,
    fcc,
    evaluation/protocol_testing_eval/profuzzbench,
    src/fandango/language/parser/FandangoLexer.py,
    src/fandango/language/parser/sa_fandango.py,
    src/fandango/language/parser/*Parser*.py,
    src/fandango/converters/antlr/ANTLRv4*.py,
    src/fandango/converters/antlr/LexerAdaptor*.py