antlr4-python3-runtime>=4.13
matplotlib>=3.9.2
numpy>=2.1.2
deap>=1.4.1
scipy>=1.14.1
fuzzingbook>=1.2.1
pegen>=0.3.0
pytest~=8.3.2
parameterized>=0.9.0
Faker~=30.1.0
ordered-set>=4.1.0
fandango~=0.0.1
scikit-learn~=1.5.1