name: Install Fandango
description: Prepare and setup Fandango including dependencies for testing.

inputs:
  python-version:
    description: "Which Python version to use"
    required: true
  needs-sudo:
    description: "Whether to use sudo"
    required: true
  skip-parser:
    description: "Whether to skip the parser"
    required: false
    default: ""

runs:
  using: composite
  steps:
    - name: Install system dependencies
      env:
        NEEDS_SUDO: ${{ inputs.needs-sudo }}
      shell: bash
      run: |
        if [ "$NEEDS_SUDO" = "true" ]; then
          sudo make test-tools
        else
          make test-tools
        fi
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ inputs.python-version }}
        activate-environment: true
        cache-dependency-glob: |
          pyproject.toml
          uv.lock
    - name: Install Python dependencies
      shell: bash
      run: |
        uv sync --all-extras --locked --verbose
      env:
        FANDANGO_SKIP_CPP_PARSER: ${{ inputs.skip-parser }}
