name: Install Fandango
description: Prepare and setup Fandango including dependencies for testing.

inputs:
  python-version:
    description: "Which Python version to use"
    required: true
  needs-sudo:
    description: "Whether to use sudo"
    required: true
  target:
    description: "Which dependency list to target"
    required: false
    default: "test"
  skip-parser:
    description: "Whether to skip the parser"
    required: false
    default: ""

runs:
  using: composite
  steps:
    - name: Set up Python ${{ inputs.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install system dependencies
      env:
        NEEDS_SUDO: ${{ inputs.needs-sudo }}
      shell: bash
      run: |
        if [ "$NEEDS_SUDO" = "true" ]; then
          sudo make test-tools
        else
          make test-tools
        fi
    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ inputs.python-version }}

    - name: Install Python dependencies
      shell: bash
      run: |
        EXTRAS=""
        IFS=',' read -ra TARGETS <<< "${{ inputs.target }}"
        for target in "${TARGETS[@]}"; do
          EXTRAS="$EXTRAS --extra ${target}"
        done
        uv sync --locked $EXTRAS
        uv pip install --editable ".[${{ inputs.target }}]" --no-deps
      env:
        FANDANGO_SKIP_CPP_PARSER: ${{ inputs.skip-parser }}
