name: Code Checks

on:
  pull_request:
  workflow_dispatch: # Enables manual execution from the Actions tab

jobs:
  black-check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.13] # Python version to run

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Fandango
        uses: ./.github/workflows/setup-fandango
        with:
          python-version: ${{ matrix.python-version }}
          needs-sudo: true
          skip-parser: 1

      - name: Check formatting with black
        run: |
          uv run black --check .

  mypy-check:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.13] # Python version to run

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Fandango
        uses: ./.github/workflows/setup-fandango
        with:
          python-version: ${{ matrix.python-version }}
          needs-sudo: ${{ matrix.os == 'ubuntu-latest' }}
          skip-parser: 1

      - name: Run mypy
        shell: bash
        run: |
          uv run mypy .
          uv run mypy --strict src
