name: Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Run Tests
    runs-on: ${{ matrix.os }}
    
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.13]
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Install Fandango
        uses: ./.github/workflows/setup-fandango
        with:
          python-version: ${{ matrix.python-version }}
          needs-sudo: ${{ matrix.os == 'ubuntu-latest' }}
          target: test

      # Run tests or coverage depending on branch and OS
      - name: Run tests (dev or non-Ubuntu)
        run: |
          source .venv/bin/activate
          pytest -v
